.nav {
    grid-area: n;
    outline: 2px solid rgb(79, 247, 149);
    background-color: rgb(79, 247, 149);
}

.item {
    color: white;
}

.item_link {
    color: black;
}

.item.active {
    color: gold;
}